input {
    margin: 2vh;
    width: 30vh;
    height: 5vh;
    border-radius: 1vh;
    font-size: 2vh;
}

button {
    width: 10vh;
    height: 5vh;
    border-radius: 1vh;
    font-size: 2vh;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: aqua;
}